#grid{
    background:
        linear-gradient(to bottom, transparent 8px, rgba(1,255,252,0.4) 10px),
        linear-gradient(to right, transparent 8px, rgba(1,255,252,0.4) 10px);
        
    background-size: 10px 10px;
    /* background-color: #404a59; */
}
#centerMap{
    background:radial-gradient(ellipse closest-side,rgba(7, 20, 52,0),rgba(7, 20, 52,0.5),rgba(7, 20, 52,1));
    
}

#edge{
    position:absolute;
    z-index:10;
    height:32px;
    width:36px;
    border-color:#29E2E6;
    border-width:3px;
}

/* #bottom{
    position:absolute;
    z-index:9;
    bottom:0;
    height: 24%;
    width:100%;

    background:rgba(16,56,91,0.65);
    border:3px solid rgba(61,85,117,1);
    
} */