
.title,.large-transport,.small-transport,.mini-transport{
    width:100%;
    display:inline-flex;
    font-size: 15px;
    position:relative;
    /* display: -webkit-box;
    //display:box;

    -webkit-box-orient: horizontal;
    box-orient: horizontal;
     */
}

.title{
    height:4vh;
    line-height:4vh;
}
.large-transport,.small-transport,.mini-transport{
    height:6vh;/* 每一行高度 */
    line-height:6vh;
    border:1px solid #3E71A0;
    margin:0.5vh 0;
    .col-1{
        display: inline-flex;
        .img{
            position:relative;
            left:10px;
        }
    }

}
.title-col,.large-col,.small-col,.mini-col{
    /* -webkit-box-flex: 1;
    box-flex: 1; */
    text-align: center;
    color:white;
}

.col-1{
    flex: 2;
}



.col-2{
    flex:3
}
.col-3{
    flex:3
}

.col-frame{
    /* border:1px solid green; */
    vertical-align: middle;
    text-align: center;
    width:100%;

    display:flex;
    align-items: center;/* 垂直居中 */
    /* justify-content: center;水平居中 */
}

.small-box{
    height: 4vh;/* 第二列每个cell高度 */
    width:90%;
    /* border:1px solid burlywood; */
    text-align: center;
    line-height: 4vh;
    background:rgba(18,54,86,0.5);
    position:relative;
    text-shadow: 0 0 5px rgba(255,255,255,0.7)
}
.small-box-left{
    margin:0 0.25vh 0 0.5vh;
    color:#01FFFC;
}
.small-box-right{
    margin:0 0.5vh 0 0.25vh;
    color:yellow;
}

#edge-left{
    height:1vh;
    width:1vh;
    color:#01FFFC;
    border-width: 1px;
    position:absolute;
    z-index:10;
}

#edge-right{
    height:1vh;
    width:1vh;
    color:yellow;
    border-width: 1px;
    position:absolute;
    z-index:10;
}

#edge-dot{
    border-radius: 50%;
    border-color: #3E71A0;
    background-color:#3E71A0;
    height:6px;
    width:6px;
    position:absolute;
    z-index:10;
}