.list_layout{
    display:-webkit-box;
    -webkit-box-orient: horizontal;
}
.list_layout_left{
    -webkit-box-flex: 1;
    width: 500px;
    margin-top: 20px;
}
.list_layout_icon{
    margin-top: -28px;
    margin-bottom: 10px;
    margin-left: -10px;
}

.table_eventRecord{
    -webkit-box-flex: 2;
    margin-top: 30px;
    margin-left:20px;
}

.table_tag{
    width:150px;
    vertical-align: top;
}

.cardfan{
    width: 250px;
    height:300px;
    margin: -10px auto;/*先垂直后水平*/
}

/* A>B 表示选择A元素的所有子B元素。 */
.cardfan>div{  
    position: absolute;
    border: 10px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
    transform-origin: center 400px; /*先水平后垂直*/
    transition: transform .7s ease;
}

.cardfan div:first-child{
    transform: rotate(5deg)
}
.cardfan div:last-child{
    transform: rotate(-5deg)
}

.cardfan:hover div:first-child{
    transform: rotate(25deg)
}
.cardfan:hover div:last-child{
    transform: rotate(-25deg)
}

.video_drawer{
    margin-left: 200px;
    margin-top: 150px;
   
}

.log--detail--content{
	margin-left:50px;
	margin-top:20px;
	margin-bottom:20px;
	font-size:16px;
}

.log--detail--content input{
    border-style: none;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 16px;
    font-weight: 600;
    width: 60%;
    margin-left: 5px;
}

.log--detail--content #logDetail-totalMileage{
    width: 55%;
}

//LogCalendar样式
.events {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .events .ant-badge-status {
    overflow: hidden;
    white-space: nowrap;
    width: 25px;
    text-overflow: ellipsis;
    font-size: 12px;
  }
  // .notes-month {
  //   text-align: center;
  //   font-size: 28px;
  // }
  // .notes-month section {
  //   font-size: 28px;
  // }

  .alert-detail{
      margin: 5px !important;
  }

  .calendar-search{
    background: #ccc;
    border-radius: 4px;
    padding: 5px;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .calendar-content{
      background: #eee;
      border-radius: 4px;
      border: 1px solid #eee;
  }
