.card_news{
    height:40px;
    vertical-align:middle;
    display:table-cell;
    color:rgb(255,77,4);
    font-weight:bold; 
    padding:10px;
  }

.card_home{
    height:100%;
    // border:2px solid #ebeef5;
}

.card_title_background{
    background-image: linear-gradient(to bottom,#ffffff,#c7c7c7);
}

.card_title_text{
    height:40px;
    line-height:0px;
    color:white;
    background-image: linear-gradient(to bottom,rgb(247,180,53),rgb(254,166,59));
    display:table-cell;
    vertical-align:middle; 
    box-shadow:3px 0px 10px  #c7c7c7;
    padding: 0px;
  }

  .activityLevel-body{
    width: 100%;
    height: 925px - 40px;
    // background: red;
    color: white;
    // border: 10px solid black;
    margin-bottom: 10px;
  }

  .patrolMileage-body{
    width: 100%;
    height: 600px;
    background: blue;
    color: white;
    // border: 10px solid red;
    margin-bottom: 10px;
  }

  .patrolNum-body{
    width: 100%;
    height: 600px;
    background: green;
    color: white;
    // border: 10px solid yellow;
    margin-bottom: 10px;
  }

  .topThree-Statistic{
    width: 100%;
    height: 180px;
    background: rgb(255, 255, 255);
    padding: 10px 0px;
  }

  .topThree-card-content{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;/*实现垂直居中*/
    justify-content: center;/*实现水平居中*/
    text-align: justify;
    position: relative;
    top: -48px;
  }

  .topThree-card-title{
    font-size: 20px;
    color: white;
  }

  .topThree-card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
  }
  
  .triangle-topleft{
    width: 0;
    height: 0;
    border-top: 50px solid rgb(199, 34, 34);
    border-right: 50px solid transparent;
    position: relative;
    top: -50px;
  }

  .triangle-topleft div{
    position: relative;
    top: -34px;
    left: 5px;
    transform: rotate(-45deg);
    font-size: 16px;
    color: white;
  }

  .topThree-card-content .topThree-name{
    font-size: 20px;
    font-weight: bold;
    color: #000;
  }

  .topThree-card-content .topThree-num{
    font-size: 25px;
    font-weight: bold;
    color: red;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    top: 1px;
  }

  .activity-search{
    padding: 20px;
    color: #000;
  }