.noticeBoard-title{
    font-size:18px;
    padding:15px 10px;
    font-weight: bold;
}    

.noticeBoard-content{
    border-left:3px solid #E14D04;
    padding:0 10px 0 20px;
    margin-right:20px;
}

.noticeBoard-content-title{
    font-size:16px;
    overflow: hidden;
    margin-bottom:15px;

}

.title-tag{
    float:left;
    border-radius:20px;
    color:#FE7D1D;
    background:rgba(254,125,29,0.6);
    font-size:12px;
    margin-left:20px;
    padding:2px 10px;
    height: 20px;

    transform: translateY(20%);

    display: flex;
    align-items: center;
}

.noticeBoard-content-body{
    text-align:justify;
    line-height:30px;
}


