@mixin radial-gradient($pra1,$pra2,$pra3,$pra4) {
    background: -webkit-radial-gradient($pra1,$pra2,$pra3,$pra4); /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient($pra1,$pra2,$pra3,$pra4); /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient($pra1,$pra2,$pra3,$pra4); /* Firefox 3.6 - 15 */
    background: radial-gradient($pra1,$pra2,$pra3,$pra4); /* 标准的语法 */
}

#map{
    position: relative;
    min-height: 68vh;
    // height: 70vh;   //修改地图的尺寸
    margin: 0 auto;
    background:
        linear-gradient(top, transparent 8px, rgba(1,255,252,0.6) 10px),
        linear-gradient(left, transparent 8px, rgba(1,255,252,0.6) 10px);
        
    background-size: 10px 10px;
    background-color: rgb(7, 20, 52);
}

#main{
    position: absolute;
    width: 100%;
    height: 100%;
    @include radial-gradient(ellipse closest-side,rgba(7, 20, 52,0),rgba(7, 20, 52,0.5),rgba(7, 20, 52,1));
}

#bottom{
    position:absolute;
    left: 2px;
    top: 77%;
    width: 99.7%;
    height: 22.7%;
    z-index: 1;
    background-color: rgba(13, 46, 83,0.4);
    border:2px solid #1b758a;
}

#chart-panel{
    position: relative;
    width: 100%;
    height: 100%;

}


#borderLT,#borderRT,#borderLB,#borderRB{
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 324;
    border-width: 2px;
    border-color: #29e2e6;
}

#borderLT{
    left: 0;
    top: 0;
    border-style: solid none none solid;
}

#borderRT{
    right: 0;
    top: 0;
    border-style: solid solid none none;
}

#borderLB{
    left: 0;
    bottom: 0;
    border-style: none none solid solid;
}

#borderRB{
    right: 0;
    bottom: 0;
    border-style: none solid solid none;
}
#chart-rank{
    position:relative;
    width:82%;
    height:270px;
}

#text-rank{
    position: absolute;
    left: 86%;
    top: 0;
    width: 12%;
    height: 100%;

    p{
        left: 5px;
        margin: 9px 0;
        padding: 10px 4px;  
        color: red;
        font-size: 16px;
    }
}

#cityText{
    color:white;

    #text{
        padding:8% 35% 0 13%;
        // width: 280px;
        // height: 100px;
        // position: absolute;
        // left: 4%;
        // top: 25%;
        // z-index: 412;
        // line-height: 1.5;
    }

    .ant-btn{
        background-color: transparent;
        color: white;
        font-size: 12px;
        border:none;
        padding: 0 8px;
        height:25px;
    }
    .ant-btn:focus{
        color:#01FFFC
    }
}