/*
* @Author: Rosen
* @Date:   2018-01-25 18:01:11
* @Last Modified by:   Rosen
* @Last Modified time: 2018-01-25 18:01:27
*/
#components-form-demo-normal-login .login-form {
	max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
	float: right;
  }
  #components-form-demo-normal-login .login-form-button {
	width: 100%;
  }