@font-face{
  font-family: 'hzgb';
  src : url('./font/hzgb.ttf');
}


.login-page-title{
  font-size:45px;
  // font-size:10%;
  position:absolute;
  top:23%;
  left:12%;
  font-family: 'hzgb'
  
}

.login-card{
  width:20%;
  height:57%;
  position:absolute;
  left:60%;
  top:23%;
  padding:0 30px;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
  border-radius: 20px;
  background-color: white;
}

.login-card-title{
   display: flex;
   align-items: center;
   font-size: 35px;
   font-family: 'SimHei';
   color:#FF931E;
   margin-bottom: 10px;
}

.input-margin{
  margin-bottom:45px;
}

@media screen and (max-device-height:1200px){
    .login-page-title{
      font-size:45px;
    }
    .login-card-title{
      font-size:35px;
    }
    .input-margin{
      margin-bottom:45px;
    }
}

@media screen and (max-device-height:1000px){
    .login-page-title{
      font-size:30px;
    }
    .login-card-title{
      font-size:20px;
    }
    .input-margin{
      margin-bottom:25px;
    }
}