.topNavi{
    height:7%;
    /* background:red; */
    margin-bottom: 15px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.naviPart1{
    width:40%;
    /* height:100%; */
    /* background:black; */
    /* margin:0 auto; */
    /* display:inline-block; */
    position:absolute;
    z-index: 1;
}
.naviPart2{
    position:absolute;
    z-index: 0;
}

/* .trapezoid{
    height:100%;
    width:10px;
    background:pink;
    display:inline-block;
} */

.contentPanel{
    height:100%;
    
    /* display:flex; */
    flex-direction: column;
}

.contentPanel .ant-row > div {
    background: transparent;
    border: 0;
}
.news,.regulation{
    padding: 5px 0;
}

.infoPanel{
    /* flex:1;
    display: flex; */
    margin-bottom:15px;
}

.chartPanel{
    margin: 20px 5px;
}

.chartPanel,.news,.regulation{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}

.news_title{
    height: 2.6vw;
    font-size: 20px;
}

.news_title_list{
    flex:1;
    display:flex;
    align-items:center;
    padding-left:15px;
}

.news_live{
    height:40px;
    vertical-align:middle;
    display:table-cell;
    color:#E14D04;
    font-weight:bold; 
    padding:10px;
}

.news_more{
    padding: 0 10px;
    line-height: 40px;
    font-weight: bold;
    color:#E14D04;
}

.words-span{
    position: absolute;
    top:70%;
    left:0;
    font-size:15px;
    color: #f9f7f7;
    background-color: rgba(199,199,199,0.75) ;
    width:100%;
    line-height:30px;
    z-index: 999;

    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align: center;
}

.notice_content{
    a {
        color:black;
        white-space:nowrap;
        text-overflow:ellipsis;
        overflow:hidden; 
        width:100%;
    }
    a:hover,a:focus,a:active{
        color:#E14D04;
    }
}

.news_live_text{
    margin-left: 15px;
}

//政策法规
.modalStyles{
    .ant-modal-header{
        padding: 16px 24px;

        .ant-modal-title{
            font-size: 18px;
            color:#E14D04;
            font-weight: bold;
        }
    }

    .ant-modal-content{
        width: 900px;
        left:-35%;
        top:5%;
        height: 640px;
    }

    .ant-modal-body {
        padding: 14px;
        font-size: 14px;
        line-height: 1.5;
        word-wrap: break-word;
        height: 540px;

        h1{
            font-size: 18px;
            color: #E14D04;
        }
    }

    .ant-modal-footer{
        padding : 5px 16px;
        div{
            // display: none;
            .ant-btn:hover, .ant-btn:focus,.ant-btn-primary{
                background-color:transparent;
                border-color: #E14D04;
                color: #666666;
            }
        }
        
    }
}
.policyStyle{
    
    .ant-modal-header{
        padding: 16px 24px;

        .ant-modal-title{
            font-size: 16px;
            color:#E14D04;
            font-weight: bold;
        }
    }

    .ant-modal-content{
        width: 900px;
        left:-35%;
        top:5%;
        height: 640px;
    }
   .ant-modal-body {
        padding: 14px;
        font-size: 14px;
        line-height: 1.5;
        word-wrap: break-word;
        height: 640px;
    }

    .ant-modal-title{
        font-size: 18px;
        line-height: 18px;
    }
    .ant-modal-footer{
        display: none;
    }

    .build,.manage,.protect,.operator{
        position: absolute;
        left: 38px;
        margin: 0px;
        width: 45%;
        height: 43%;
        // border:1px solid red;
    }

    .manage{
        left: 51%;
    }
    .protect{
        top: 53%;
    }
    .operator{
        top: 53%;
        left: 51%;
    }
}

.ant-Tile{
    background: #fff;
    // border: 1px solid red;
    color: #E14D04;
    font-size: 17px;
}

.ant-Contents{
    width: 100%;
    height: 90%;
    margin-top: 5px;
    // border:1px solid black;
    .home-title{
        white-space: normal;
        height: 3em;
        font-size: 15px;
    }
}

.PoliciesContent{
    
    .ant-modal-content{
        top: 10%;
        margin-left: -37%;
        width: 900px;
        height: 600px;
    }
    .ant-modal-header{
        padding: 12px 24px;
        // font-size: 17px;
        font-weight: bold;

        .ant-modal-title{
            font-size: 15px;
            color: #E14D04;
            font-weight: bold;
        }
    }
    
   .ant-modal-body {
        padding: 14px;
        font-size: 14px;
        line-height: 1.5;
        word-wrap: break-word;
        height: 600px;
        h1{
            font-size: 17px;
            font-weight: 500;
            color: #E14D04;
         }
        
    }

    .ant-modal-title{
        font-size: 18px;
        line-height: 18px;
    }
    .ant-modal-footer{
        // padding : 20px 16px;
        // div{
        //     display: none;
        // }
        display: none;
    }
}

.tabsPolicy{

    .ant-tabs-nav{
        color: #E14D04;

        .ant-tabs-tab{
            width: 88px;
            height: 44px;
            margin: 0px;
            color : #E14D04;
            background: #fff;
        }

        .ant-tabs-tab:hover{
            color : #fff;
            background: linear-gradient(#E14D04, #FFB90F);
            border-top-left-radius: 9px;
        }

        .ant-tabs-tab-active{
            color : #fff;
            background: linear-gradient(#E14D04, #FFB90F);
            border-top-left-radius: 9px;
        }
    }

    .ant-tabs-nav-scroll{
        color: #FFB90F;
        // background: #E14D04;
    }

    .ant-tabs-ink-bar{
        background-color: #FFB90F;
    }
    .ant-pagination-item:focus, .ant-pagination-item:hover{
        border-color: #E14D04;
        background: transparent;
        a{
            color: #666666;
        }
    }
    .ant-pagination-item-active{
        border-color: #E14D04;
        background: transparent;

        a{
            color: #666666;
        }
    }

}

//统计报表
.chartStatics{
    .chart_title{
        margin-left: 20px;
        margin-top: 8px;
    }

    .column,.labelPie,.stacked{
        position: absolute;
        margin-top: 10px;
        // border: 1px solid red;
    }
    .column{
        left: 1%;
        width: 30%;
    }
    .labelPie{
        left: 33%;
        width: 28%;
    }
    .stacked{
        left: 60%;
        width: 38%;
    }
}
