.home-list{
    position: absolute;
    top: 40%;
    height: 50%;
    width: 50%;
    background-color: #f0f0f0;
    border-radius: 5px;   
}
.home-body{
    white-space:nowrap; //规定段落中的文本不进行换行：
    width:20em;
    height:2em;
    overflow:hidden; 
    border:1px solid #fff;
    text-overflow:ellipsis; //文本溢出包含元素时显示省略符号来代表被修剪的文本
    //text-indent:2em;
    font-size:16px;
}
.home-title{
    white-space:nowrap; //规定段落中的文本不进行换行：
    width:90%;
    height:2em;
    overflow:hidden; 
    text-overflow:ellipsis; //文本溢出包含元素时显示省略符号来代表被修剪的文本
    //text-indent:2em;
    padding-top: 3px;
}
.list-more-a{
    float: right;
    margin-left: 230px;
    font-size: 15px;
    color: #4d77b5;
}

.ant-card-body {
    padding: 0px;
    zoom: 1;
}

.card_home{
    height:100%;
    // border:2px solid #ebeef5;
}

.card_title_background{
    background-image: linear-gradient(to bottom,#ffffff,rgb(226, 224, 224));
    height: 40px;
}
// .card_title_text{
//     height:40px;
//     color:white;
//     background-image: linear-gradient(to bottom,#98b8e1,#4e78b5);
//     display:table-cell;
//     vertical-align:middle; 
//     box-shadow:3px 0px 10px  #c7c7c7;
//     padding: 5px;
// }
// .card_title_text_home{
//     height:40px;
//     color:white;
//     background-image: linear-gradient(to bottom,#98b8e1,#4e78b5);
//     display:table-cell;
//     vertical-align:middle; 
//     box-shadow:3px 0px 10px  #c7c7c7;
//     padding: 10px;
// }
// .card_news{
//     height:40px;
//     vertical-align:middle;
//     display:table-cell;
//     color:#4d77b5;
//     font-weight:bold; 
//     padding:10px;
// }

.card_news_more{
    padding: 0 10px;
    line-height: 40px;
    font-weight: bold;
}

//首页新闻
.words-span{
    position: absolute;
    top:70%;
    font-size:15px;
    color: #f9f7f7;
    background-color: rgba(199,199,199,0.75) ;
    display:flex;
    width:100%;
    line-height:30px;
    z-index: 999;
}
.words-div{
    white-space:nowrap; //规定段落中的文本不进行换行：
    width:24em;
    // height:2em;
    overflow:hidden; 
    text-overflow:ellipsis; //文本溢出包含元素时显示省略符号来代表被修剪的文本
    // text-indent:1em;
    // margin-left: 20px;
}
// .modalStyle{
//     .ant-modal-content{

//     }
// }

.policyStyle{
    
    .ant-modal-header{
        padding: 12px 24px;
    }
    .ant-modal-content{
        width: 1000px;
        left:-35%;
        top:5%;
        height: 650px;
    }
   .ant-modal-body {
        padding: 14px;
        font-size: 14px;
        line-height: 1.5;
        word-wrap: break-word;
        height: 650px;
    }

    .ant-modal-title{
        font-size: 18px;
        line-height: 18px;
    }
    .ant-modal-footer{
        display: none;
    }

    .build,.manage,.protect,.operator{
        position: absolute;
        left: 38px;
        margin: 0px;
        width: 45%;
        height: 43%;
        // border:1px solid red;
    }

    .manage{
        left: 51%;
    }
    .protect{
        top: 53%;
    }
    .operator{
        top: 53%;
        left: 51%;
    }
}

.policyMore{
    .txt{
        float: right;
        margin-right: -1px;  //用来消除左右重叠边框
    }

    .txt:hover{
        background: transparent;
        color:#E14D04;
    }
}

.ant-Tile{
    background: #fff;
    // border: 1px solid red;
    color: #E14D04;
    font-size: 17px;
}

.ant-Contents{
    width: 100%;
    height: 90%;
    margin-top: 5px;
    // border:1px solid black;
    .home-title{
        white-space: normal;
        height: 3em;
        font-size: 15px;
    }
}

.PoliciesContent{
    .ant-modal-content{
        width: 700px;
    }
    .ant-modal-header{
        padding: 12px 24px;
        font-size: 17px;
        font-weight: bold;
    }
    
   .ant-modal-body {
        padding: 14px;
        font-size: 14px;
        line-height: 1.5;
        word-wrap: break-word;
       
        h1{
            font-size: 18px;
            font-weight: 500;
         }
        
    }

    .ant-modal-title{
        font-size: 18px;
        line-height: 18px;
    }
    .ant-modal-footer{
        padding : 20px 16px;
        div{
            display: none;
        }
        
    }
}