body{
	background:#3fa0a5;
}
h1{
	text-align:center;
}
.container{
	width:960px;
	height:550px;
	margin: 20px auto;
	position:relative;
}
img{
	padding:10px 10px 15px;
	background:#fff;
	border:1px solid #ddd;		
	position:absolute;
	transition:all 1s ;
}
img:hover{
	transform:rotate(0deg);
	transform:scale(1.2);
	box-shadow:10px 10px 15px #ccc;
	z-index:2;
}

.pic{
	top:30px;
	left:0px;
	transform:rotate(-5deg);
}
.pic1{
	top:30px;
	left:300px;
	transform:rotate(5deg);
}
.pic2{
	top:30px;
	left:600px;
	transform:rotate(-15deg);
}
.pic3{
	top:200px;
	left:0px;
	transform:rotate(5deg);
}
.pic4{
	top:200px;
	left:300px;
	transform:rotate(-5deg);
}
.pic5{
	top:200px;
	left:600px;
	transform:rotate(15deg);
}