$main-color:#4d77b5;

#basemap{
    height:95%;
    width:100%;
    z-index: 1;
    position: absolute;
    
  }

#mapWithNav{
  height:100%;
  width:100%;
  margin-top: -13px;
  //margin-left: -20px;
}

/* // #nav{
//   height:100%;
//   width:40%;
//   float:left;
// } */

#popup-content{
  position: relative;
  background-color:fade-out(white,.2);
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 8px;
  /*border-radius: 10px;*/
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* border: 1px solid #cccccc; */
  /* bottom: 12px;
  left: -50px; */
  min-width: 250px;
  color:black;
  
}

#popup-title{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  background-color:fade-out($main-color,.2);
  -webkit-filter: drop-shadow(0 1px 4px fade-out($main-color,.8));
  filter: drop-shadow(0 1px 4px fade-out($main-color,.8));
  padding: 0px;
  border:solid 1px fade-out($main-color,.2);
  /* bottom: 12px;
  left: -50px; */
  min-width: 250px;
  text-align: center;
  h3{
    color:white;
  }
}
#startPoint, #endPoint{
  border-color: fade-out($main-color,.2);
  color:white;
  border-radius: 5px;
  position: relative;
  background-color:fade-out($main-color,.2);
  -webkit-filter: drop-shadow(0 1px 4px fade-out($main-color,.8));
  filter: drop-shadow(0 1px 4px fade-out($main-color,.8));
  padding:3px;
}
#startPoint:after,#endPoint:after{
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;
  border-top-color: fade-out($main-color,.2);
  border-width: 7px;
  margin-left: -7px;
  }
  

h2{
  color:$main-color;
}

#navButton{
  float: right;
  z-index: 9;
  margin-right: -50px;
  margin-top:1%;
  position:relative;
  transition:right linear .2s;
  -moz-transition: right linear .2s; /* Firefox 4 */
  -webkit-transition: right linear .2s; /* Safari 和 Chrome */
  -o-transition: right linear .2s;
}

#popup-closer{
  color:white;
  position: absolute;
  top: 2%;
  right: 6%;
}

.olScaleLine{
  background: rgba(0,60,136,0.3);
  border-radius: 4px;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  position: absolute;
  left:2.475em;
}
.olScaleLine-inner{
  border: 1px solid #eee;
    border-top: none;
    color: #eee;
    font-size: 10px;
    text-align: center;
    margin: 1px;
    will-change: contents, width;
}

// #orignalOP {
//   position:absolute;
//   top:0rem;
//   right:0rem;
//   z-index: 1520;
// }
