.planText{
    display: inline-block;
    margin-right: 40px;
    color: rgba(0,0,0,.45);
    font-size: 14px;
    vertical-align: middle;
}


// .switchButton .ant-row{
//     height: 40px;
//     margin-bottom: 20px;
//    &.active{
//        background-color: green;
//         border-right: 2px solid red;
//     }
// }

// .test{
//     .ant-tabs-ink-bar{
//         background-color:red;
//     }
// }


.switchButton span{
    font-size: 18px;
    vertical-align: top;
    line-height: 40px;
    margin-left: 5px;
    font-family: Georgia, serif;
    font-weight: bold;
}

.contentLink a{
    font-size: 16px;
    margin-right: 20px;
}

.companyform{
    margin-bottom: 10px;
}

.checkboxicon{
    font-size: 20px;
    margin-left: 5px;
}

.companyFileTree_row{
    margin-bottom: 10px;
    a{
        font-size: 16px;
    }
    i{
        margin-right: 3px;
    }
}

.roadoperation_check_td{
    width: 200px
}

.newCompany_icon{
    font-size: 90px;
    color: rgba(3, 120, 228, 0.71);
    width: 180px;
    height: 100px;
}