


.table{
   
    font-size:11px;
    color:#333333;
    border-collapse: collapse;
    border: 3px solid #17b3a3;
    width: 100%;
    line-height: 1.5;
    th{
        border-width: 1px;
        padding: 8px;
        border: 1px solid #17b3a3;
    
    }
    
    td{
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #17b3a3;
    
    }
}

