.tabelContent{
    .ant-table{
        line-height: 1.7;
    }
    .ant-table-tbody > tr{
        font-size: 16px;
    }
    .ant-table-thead > tr > th .ant-table-header-column{
        font-size: 17px;
    }
    .ant-table-thead > tr > th{
        background: #efefef;
        color: #666666;
    }
    .ant-pagination-item{
        &:hover{
            border-color: #FE7D1D;
        }
        a:hover{
            color: #666666;
        }
    }
    .ant-pagination-item-active{
        background: transparent;
        border-color: #FE7D1D;
    }

    .ant-pagination-item-active a{
        color: #666666;
    }
}

.buttonCheck{
    button{
        padding: 0px;
        width: 60px;
        background: #3296F9;
        border: none;

        &:hover,&:focus{
            background: #3296F9;
            border: none;
        }

        
    }
}

.editButton{
    button{
        // margin: 0;
        padding: 0px;
        width: 50px;
        height: 25px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .ant-btn:nth-child(1){
        background: #3296F9;
        border: none;
        color: #fff;

        &:hover,&:focus{
            background: #3296F9;
            border: none;
        }
    }

    .ant-btn:nth-child(2){
        background: #FE7D1D;
        border: none;
        color: #fff;

        &:hover,&:focus{
            background: #FE7D1D;
            border: none;
        }
    }
    
}

.roadMore{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: -65px;
    margin-top: 1px;
    font-size: 16px;
    border: 1px solid #3296F9;
    width: 60px;
    height: 32px;
    border-radius: 3px;
    background: #3296F9;
}

.roadStyle{
    .ant-modal-content{
        width: 600px;
        height: 260px;
    }
    .ant-modal-body{
        margin-top: 30px;
        height: 250px;
    }
    .ant-modal-footer{
        display: none;
    }
}