#cityText{
    color:white;
    #text{
        padding:8% 35% 0 13%;
        
    }
    .ant-btn{
        background-color: transparent;
        color: white;
        font-size: 12px;
        border:none;
        padding: 0 8px;
        height:25px;
    }
    .ant-btn:focus{
        color:#01FFFC
    }
}